.DS_Store
.ipynb_checkpoints/
original_data/VoteBuilder_Senate_csv.csv
original_data/VoteBuilder_House_csv.csv
VoteBuilder_House_processed.csv
VoteBuilder_Senate_processed.csv
VoteBuilder_and_Census_House.csv
VoteBuilder_and_Census_Senate.csv
VoteBuilder_and_all_data_House.csv
VoteBuilder_and_all_data_Senate.csv
VoteBuilder_House_processed.csv
VoteBuilder_Senate_processed.csv
